* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  gap: 16px;

  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 37% 1fr;
  align-items: center;
  background-color: #393f4d;
  text-align: left;
}

.menu ul,
.menu li {
  display: grid;

  font-size: 16px;
}

.sidebar {
  display: grid;
  grid-row: 2 / span 2;
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  display: grid;
  background-color: #C50208;
}

.nav ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-left: 30px;
  gap: 30px;
  text-align: end;
  justify-items: end;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(1, auto);   /* 2 rows */
  gap: 5px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  box-shadow: 5px 5px #009ceb;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 4;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

ul {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

/* menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 2;
  grid-row: 1;
} */